body {
  margin: 0px;
}
.header {
  background-color: hwb(222 0% 74%);
  display: flex;
  width: 100vw;
}

ul {
  list-style: none;
}

li {
  color: white;
  text-decoration: none;
  float: left;
  margin-right: 20px;
}

.movies-container {
  display: flex; /*기본적으로 row이기 때문에 가로로 배치*/
  flex-wrap: wrap; /*다음 줄로 내려주기*/
  justify-content: center;
}

.movie-container {
  position: relative;
  box-sizing: border-box;
  height: 330px;
  width: 170px;
  background-color: #373b69;
  color: white;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  margin: 15px;
  border: none;
}

.movie-overview {
  position: absolute;
  box-sizing: border-box;
  height: 330px;
  width: 170px;
  padding: 15px;
  margin: -365px 15px 15px 15px;
  background-color: #05050590;
  color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 12px;
}

.movie-container img {
  max-width: 100%;
}

.movie-info {
  display: flex;
  padding: 15px;
  justify-content: space-between; /*양 끝으로 이동하도록*/
  align-items: center; /*중간으로*/
  font-size: 13px;
}

.movie-info h4 {
  margin: 0;
}

.page-container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 32px 0;
}
